.top-ribbon {
  position: fixed;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  letter-spacing: 5px;
  font-size: 0.9em;
  opacity: 0.9;
  position: relative;
  z-index: 9999;
  box-shadow: 1px 0px 2px #000;
  text-align: right;
  line-height: 24px; }
  .top-ribbon p {
    padding-right: 10px; }
  .top-ribbon span {
    padding-right: 10px;
    color: rgba(254, 254, 254, 0.5); }

.wrapper {
  position: fixed;
  margin: 200px 0;
  width: 100%;
  display: block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  text-align: left; }
  .wrapper .greeting {
    padding-left: 20px; }
  .wrapper #avatar {
    background: url(../img/avatar.jpg);
      background-size: cover;
    margin: 0 10px;
    width: 100px;
    height: 100px;
    border: 4px solid #fff;
    border-radius: 50%;
    float: left; }
  .wrapper h1 {
    font-family: Arial, sans-serif;
    font-size: 2.4em;
    position: relative;
    font-weight: 400;
    color: #fff; }
  .wrapper h2 {
    font-family: Arial, sans-serif;
    font-size: 1.3em;
    color: #f8f8f8; }
  .wrapper p.link {
    display: inline-block;
    padding: 15px 0; }
    .wrapper p.link a {
      width: 70px;
      text-align: center;
      padding: 5px 0;
      color: #fff;
      text-decoration: none;
      display: inline-block;
      border: 1px solid #6d0019;
      border-radius: 5px;
      font-size: 0.8em;
      line-height: 18px;
      font-weight: 800;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
      background: #a90329;
      background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
      background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
      background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
      background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
      background: linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); }
      .wrapper p.link a:hover {
        background: #6d0019; }

.bottom-ribbon {
  width: 100%;
  background-color: #000;
  opacity: 0.9;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  box-shadow: 1px 0px 2px #000;
  letter-spacing: 2px;
  color: #ddd;
  display: block;
  text-align: right; }
  .bottom-ribbon p {
    font-family: Arial, sans-serif;
    line-height: 24px;
    font-size: 0.9em;
    padding-right: 10px; }

@media screen and (max-width: 767px) {
  .brand-logo {
    font-size: 0.9em; }

  .wrapper {
    font-size: 0.8em;
    margin: 20px 0 0 0;
    display: block;
    text-align: center; }
    .wrapper .greeting {
      margin-top: 10px;
      padding: 0; }
    .wrapper #avatar {
      float: none;
      margin-left: auto;
      margin-right: auto;
      width: 80px;
      height: 80px; }

  p.link {
    top: auto;
    left: auto; }

  .top-ribbon,
  .bottom-ribbon {
    text-align: center;
    padding: 0; }

  .top-ribbon span {
    padding: 0; } }
.body-slideshow,
.body-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: black;
  z-index: 0; }

.body-slideshow:after {
  content: "";
  background: transparent url(../img/slide/pattern.png) repeat top left; }

.body-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  filter: brightness(0.3);
  -webkit-filter: brightness(0.3);
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 24s linear infinite 0s;
  -moz-animation: imageAnimation 24s linear infinite 0s;
  -o-animation: imageAnimation 24s linear infinite 0s;
  -ms-animation: imageAnimation 24s linear infinite 0s;
  animation: imageAnimation 24s linear infinite 0s; }
.body-slideshow li div {
  z-index: 1;
  position: relative;
  width: 100%;
  text-align: right;
  opacity: 0;
  -webkit-animation: titleAnimation 24s linear infinite 0s;
  -moz-animation: titleAnimation 24s linear infinite 0s;
  -o-animation: titleAnimation 24s linear infinite 0s;
  -ms-animation: titleAnimation 24s linear infinite 0s;
  animation: titleAnimation 24s linear infinite 0s; }
  .body-slideshow li div.one, .body-slideshow li div.two, .body-slideshow li div.three {
    position: absolute;
    top: 20px;
    right: 0;
    margin: 200px 0; }
  .body-slideshow li div h3 {
    font-family: "BebasNeueRegular", "Arial Narrow", Arial, sans-serif;
    font-size: 30px;
    position: relative;
    text-transform: uppercase;
    padding-right: 20px;
    line-height: 120px;
    color: rgba(255, 255, 255, 0.8); }

.body-slideshow li:nth-child(1) span {
  background-image: url(../img/slide/6H.jpg); }

.body-slideshow li:nth-child(2) span {
  background-image: url(../img/slide/picture-window-with-window-of-opportunity.jpg);
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -o-animation-delay: 8s;
  -ms-animation-delay: 8s;
  animation-delay: 8s; }

.body-slideshow li:nth-child(3) span {
  background-image: url(../img/slide/f535def5b7f7845ae613fc6a3655ea26.0.jpg);
  -webkit-animation-delay: 16s;
  -moz-animation-delay: 16s;
  -o-animation-delay: 16s;
  -ms-animation-delay: 16s;
  animation-delay: 16s; }

.body-slideshow li:nth-child(2) div {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -o-animation-delay: 8s;
  -ms-animation-delay: 8s;
  animation-delay: 8s; }

.body-slideshow li:nth-child(3) div {
  -webkit-animation-delay: 16s;
  -moz-animation-delay: 16s;
  -o-animation-delay: 16s;
  -ms-animation-delay: 16s;
  animation-delay: 16s; }

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-out; }
  16% {
    opacity: 1;
    -webkit-transform: scale(1.1); }
  23% {
    opacity: 1;
    -webkit-transform: scale(1.1); }
  38% {
    opacity: 0;
    -webkit-transform: scale(1.1); }
  100% {
    opacity: 0; } }
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  16% {
    opacity: 1;
    -webkit-transform: translateX(0px); }
  23% {
    opacity: 1;
    -webkit-transform: translateX(0px); }
  29% {
    opacity: 0;
    -webkit-transform: translateX(1000px); }
  34% {
    opacity: 0; }
  100% {
    opacity: 0; } }
/* Show at least something when animations not supported */
.no-cssanimations .body-slideshow li span {
  opacity: 1; }

@media screen and (max-width: 767px) {
  .body-slideshow li div h3 {
    position: relative;
    text-align: center;
    font-size: 1.1em;
    padding-right: 0; }

  @-webkit-keyframes titleAnimation {
    16% {
      opacity: 1;
      -webkit-transform: translateY(0px); }
    23% {
      opacity: 1;
      -webkit-transform: translateY(0px); }
    29% {
      opacity: 0;
      -webkit-transform: translateY(1000px); } } }
/*End of custom styles */
