@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,300,700,100");
/* Banner */
.brand-logo {
  padding: 0 15px !important; }

@media screen and (max-width: 400px) {
  .brand-logo {
    font-size: 20px !important; } }
.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 176px 0 120px;
  z-index: -1; }
  .banner h1 {
    letter-spacing: 2px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0; }
  .banner h5 {
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 10px; }

/* Change base color & layout */
html {
  font-family: "Open Sans", sans-serif !important; }

h1, h2, h3, h4, h6 {
  padding-bottom: 30px;
  text-transform: uppercase;
  font-weight: 700; }

.alt-color {
  background: #ededed; }

.accent-color {
  color: #ff8a65; }

section {
  padding: 50px 0 50px; }

/* Main Content */
.main-content {
  margin-top: 380px; }

/* About section */
#about {
  padding-bottom: 90px; }

.summary {
  border-radius: 3px;
  padding: 10px 20px !important; }
  .summary .about {
    text-align: justify;
    font-weight: 200; }

#more {
  text-align: justify; }

/*font-size: 18px
 * font-weight: 400 */
/* Footer */
footer .page-footer {
  margin-top: 0 !important;
  padding-top: 40px !important; }
footer li {
  display: inline; }
  footer li i {
    padding-right: 5px; }

/* Skill section
 * ---------------- */
.skill .skill-type {
  width: 50%;
  float: left; }
  .skill .skill-type .skill-rate {
    margin: 3px 0 30px; }
    .skill .skill-type .skill-rate span {
      display: inline-block;
      height: 14px;
      width: 14px;
      background-color: #ff8a65;
      margin-right: 3px;
      border-radius: 50%; }
      .skill .skill-type .skill-rate span:after {
        content: " ";
        display: block;
        font-size: 10px;
        width: 10px;
        height: 10px;
        margin: 2px;
        border-radius: 50%; }
    .skill .skill-type .skill-rate.skill-1 span:nth-child(n+2) {
      background: rgba(213, 213, 213, 0.5); }
    .skill .skill-type .skill-rate.skill-2 span:nth-child(n+3) {
      background: rgba(213, 213, 213, 0.5); }
    .skill .skill-type .skill-rate.skill-3 span:nth-child(n+4) {
      background: rgba(213, 213, 213, 0.5); }
    .skill .skill-type .skill-rate.skill-4 span:nth-child(n+5) {
      background: rgba(213, 213, 213, 0.5); }
    .skill .skill-type .skill-rate.skill-5 span:nth-child(n+6) {
      background: rgba(213, 213, 213, 0.5); }
    .skill .skill-type .skill-rate.skill-6 span:nth-child(n+7) {
      background: rgba(213, 213, 213, 0.5); }
    .skill .skill-type .skill-rate.skill-7 span:nth-child(n+8) {
      background: rgba(213, 213, 213, 0.5); }
    .skill .skill-type .skill-rate.skill-8 span:nth-child(n+9) {
      background: rgba(213, 213, 213, 0.5); }
    .skill .skill-type .skill-rate.skill-9 span:nth-child(n+10) {
      background: rgba(213, 213, 213, 0.5); }
    .skill .skill-type .skill-rate.skill-10 span:nth-child(n+11) {
      background: rgba(213, 213, 213, 0.5); }

div.container p.small-text {
  font-size: 0.9em !important; }

@media screen and (max-width: 360px) {
  .skill-type {
    width: 100%;
    padding-left: 10%; } }
/* -------------
 * Works section
 * ------------- */
div.card.small {
  height: 227px; }
  div.card.small .work-1 {
    background-image: url(../img/work-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  div.card.small .work-2 {
    background-image: url(../img/work-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  div.card.small .work-3 {
    background-image: url(../img/work-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  div.card.small .work-4 {
    background-image: url(../img/work-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  div.card.small .work-5 {
    background-image: url(../img/work-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  div.card.small span.card-title.project {
    font-size: 18px; }

.card {
  overflow: hidden;
  cursor: pointer; }
  .card .card-content {
    height: 77px !important;
    padding: 10px 20px 10px 20px !important; }
  .card p {
    padding-left: 10px; }
  .card i {
    margin-left: 0 !important; }
  .card .title-overlay {
    font-size: 16px;
    padding: 45px 20px 20px 20px;
    line-height: 1.2;
    position: absolute;
    top: 100%;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 150px;
    background: rgba(255, 138, 101, 0.5); }
    .card .title-overlay .title-text {
      display: block;
      text-transform: uppercase;
      font-size: 1em; }
    .card .title-overlay .icon {
      display: block; }
  .card:hover .title-overlay {
    top: 0%;
    right: 0px;
    bottom: 0px;
    left: 0px; }

/* Contact */
/* smaller container */
.container.container-small {
  width: 60%; }

/* Contact form's Color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field textarea.materialize-textarea:focus + label {
  color: #ff8a65 !important; }

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field textarea.materialize-textarea:focus {
  border-bottom: 1px solid #ff8a65 !important;
  box-shadow: 0 1px 0 0 #ff8a65 !important; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #ff5722 !important; }

@media screen and (max-width: 360px) {
  #contact .container {
    padding: 0; } }
/* Modals in Work details */
.modal-content ul {
  margin-top: 0; }
.modal-content li {
  margin-left: 20px;
  list-style: circle; }
